{% extends 'base.html.twig' %}

{% block title %}Liste des session!{% endblock %}

{% block body %}

 <h2>Le nombre total de sessions existantes:</h2>
    {{ nbrSessions}}

<h2>Les 3 prochaines sessions sont:</h2>
    {% for session in sessions %}
        {{session.titre}}<br>   
    {% endfor %}

<h2>Le nombre total des stagiaires sont:</h2>
    {{ nbrStagiaires}}
    

{% endblock %}
