{% extends 'base.html.twig' %}

{% block title %} Détails du stagiaire {% endblock %}
{% block body %}
 <h1>Détails du stagiaire selectionné:</h1> 

<p>Nom et prénom du salarié</p>
<h1>{{ stagiaire }}</h1>
{% endblock %}
