{% extends 'base.html.twig' %}

{% block title %} Détails du stagiaire {% endblock %}
{% block body %}
 <h1>Détails du stagiaire selectionné:</h1> 

<h1>Nom et prénom du stagiaire</h1>

<p>{{ stagiaire }}</p>

<h2>Les sessions associées à ce stagiaire sont:</h2>
    {% for session in stagiaire.sessions %}
        {{session.titre}}<br>
        
    {% endfor %}
  
{% endblock %}
