{% extends 'base.html.twig' %}

{% block title %}
	- Ajouter à
	{{ session }}
{% endblock %}

{% block body %}
	<h1>
		Session:
		<i>{{ session }}</i>
	</h1>
	<h2>Gestion des stagiaires</h2>
{% endblock %}
