{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <a href="{{ path('formations_list') }}">Retour à la liste des formations</a>
    {% if editMode %}
        <h1>Modification d'une session</h1>
    {% else %}
        <h1>Ajout d'une session</h1>
    {% endif %}

    {{ form(formSession) }}

{% endblock %}