{% extends 'base.html.twig' %}

{% block title %}- Nouveau module
{% endblock %}

{% block titre %}
	Gestion des modules
{% endblock %}

{% block body %}

	<div class="uk-container uk-container-xsmall">
		<h2>Création d'un nouveau module</h2>
		{{ form(form) }}
		</div>
	{% endblock %}
