{% extends 'base.html.twig' %}

{% block title %}- Liste des domaines
{% endblock %}

{% block body %}
	<table class="uk-table uk-table-striped uk-table-responsive">
		<thead>
			<tr>
				<th>Nom du domaine</th>
				{% if is_granted("ROLE_ADMIN") %}
					<th class="uk-text-center">Action</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% if domaines is not empty %}
				{% for domaine in domaines %}
					<tr>
						<td>
							<a href="{{ path("show_domaine", {"id" : domaine.id}) }}">{{ domaine }}</a>
						</td>
						{% if is_granted("ROLE_ADMIN") %}
							<td class="uk-text-center">
								<a uk-icon="icon: file-edit" href="{{ path("edit_domaine", {"id" : domaine.id}) }}"></a>
								<a uk-icon="icon: trash" href="{{ path("remove_domaine", {"id" : domaine.id}) }}"></a>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					{% if is_granted("ROLE_ADMIN") %}
						<td colspan="2">
							Aucun domaine n'existe pour le moment.
						</td>
					{% else %}
						<td>Aucun domaine n'existe pour le moment.</td>
					{% endif %}
				</tr>
			{% endif %}
		</tbody>
	</table>
{% endblock %}
